<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>
  </head>
  <body>
    <h1>Hello ! Express!!</h1>
    <p>안녕하세여~~~~~~~~~~~₩</p>
    <% for (let i = 0; i<5; i++){ %>
    <div>i는 뭐냐면 ~~<%= i%>이야</div>
    <div>@@@@@@@@ 뚜...벅,,,뚜ㅜ....벅,,,뚜.,, @@@@@@@</div>
    <% } %>
    <a href="/login">로그인</a>
  </body>
</html>
