<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./includes/head',{title : '회원가입'})%>
    <style>
      body {
        background-color: pink;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <%- include('./includes/header')%>
    <h1>회원가입</h1>
    <form>
      <div>
        <label for="ID">회원가입할 아이디 입력 : </label>
        <input type="text" id="id" placeholder="ID" />
      </div>
      <div>
        <label for="pwd">비밀번호 입력 : </label>
        <input type="text" id="password" placeholder="password" />
      </div>
      <div>
        <label for="pwd">비밀번호 확인 : </label>
        <input type="text" id="password" placeholder="password" />
      </div>
      <br />
      <br />
      <button type="submit" id="back"><a href="/">뒤로가기</a></button>
      <button type="submit" id="register">회원가입하기</button>
    </form>
  </body>
</html>
