<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>์ค์ตํ์ด</title>
  </head>
  <body>
    <h1>์ผ๋ฐ ํผ ์ค์ต ํ์ด</h1>
    <p>
      ์ค์ต๋ฌธ์์ ๋ํ ํ์ด๋ ์์ฃผ ๋ค์ํฉ๋๋ค! ํด๋น ํ๋ก์ํธ ๋ํ ๋ค์ํ ํ์ด
      ๋ฐฉ๋ฒ ์ค ํ๋์ผ ๋ฟ์ด๋ ์ฐธ๊ณ์ฉ์ผ๋ก ๋ด์ฃผ์ธ์๐
    </p>
    <a href="/practice1">์ค์ต1 ์ด๋</a>
    <a href="/practice2">์ค์ต2 ์ด๋</a>
  </body>
</html>
